body{font-family: Times,"Times New Roman", "宋体";}
h1{color: rgba(255, 20, 143, 0.99); font-size:24px; }
h3{font:12px normal;}
p{font-size:18px;
    text-indent: 2em;
    line-height: 40px;
}
p span{color: rgba(243, 251, 28, 0.73);}
h1{text-align:right;}